<div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px">
    <div>
      <div fxFlex="100%">
        <div (click) = "toggle(); toggleFlip()" [@flipState] = flip>
          <mat-card>
            <mat-card-content class="row">
                <h3 class="backText" *ngIf = 'show'>World</h3>
                <h3 class="frontText" *ngIf = '!show'>Мир</h3>
            </mat-card-content>
          </mat-card>
        </div>
        <p></p>
        <div>
          <button class="flippingButton"  (click) = "prevCard()">Previous!</button>  
          <button class="flippingButton"  (click) = "toggle(); toggleFlip()">Flip!</button>
          <button class="flippingButton"  (click) = "nextCard()">Next!</button>
        </div>
      </div>
    </div>
</div>