$buttonColor: rgb(113, 220, 255);
$background-color: #c1f8ff;

mat-card {
    background-color: $background-color;
    border: thin;
};
.frontText{
    text-align: center;
    font-size: 30px;
};
.backText{
    text-align: center;
    transform: rotateY(179deg);
    font-size: 30px;
}
.hidden{
    opacity: 0;
}
.flippingButton{
    background-color: $buttonColor;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    text-align: center;
    padding: 5px 20px;
    display: flex; 
    justify-content: center;
}